services:
  l8testudy:
    image: l8tenever/l8testudy:latest
    container_name: l8testudy
    ports:
      - 10.66.66.1:5000:5000
    volumes:
      - ./data:/data
    environment:
      DATABASE_URL: sqlite:////data/l8testudy.db
      SECRET_KEY: ein-sichersdfes-passwort-hier-einfuegen
      FLASK_ENV: production
      
      # Google Drive Integration
      # ANLEITUNG: Kopiere den Inhalt deiner JSON-Datei hier unter 'GOOGLE_SERVICE_ACCOUNT_INFO:' 
      # Achte darauf, dass der Inhalt eingerückt ist (genau wie diese Zeile)!
      GOOGLE_SERVICE_ACCOUNT_INFO: |
        {}

      # Verschlüsselung
      DRIVE_ENCRYPTION_KEY: qv6aHbyp1j1xHpLVE87DIax+x/4YvD54rlh3SbZGTjg=
      ENCRYPTED_FILES_PATH: /data/encrypted_files
      
      # Sonstiges
      UPLOAD_FOLDER: /data/uploads
      MAX_CONTENT_LENGTH: 104857600
      TZ: Europe/Berlin

    restart: always

networks: {}
